@model IEnumerable<BasicASPTutorial.Models.Student>;
@{
    ViewData["Title"] = "Home";
}

<h1 class="text-center">คะแนนสอบวิชาคอมพิวเตอร์</h1>

@foreach (var student in Model)
{
    <p>Student Id : @student.Id</p>
    <p>Name : @student.Name</p>
    <p>Score : @student.Score</p>
    @if (student.Score>=70){
        <strong class="text-success">Pass</strong>
    }
    else {
        <strong class="text-danger">Failed</strong>
    }
    <hr/>

}

